.maincontainer {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexbox{
  width: 92vw;
  height: calc(98vw/3);
  margin: 2% 0 7% 0;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}

.bannercontainer {
  width: 100%;
  height: 100%;
  display:flex;
  align-items:center;
}

.banner {
  width: 100%;
  position: absolute;

  animation: fade ease-in-out 6.5s infinite;
  opacity: 1;
}
.banner1 {
  animation-delay: 0s;
  height: 100%;
}
.banner2 {
  animation-delay: 3s;
  height: 100%;
}

/* @keyframes fade {
	00.00%	{ opacity: 0; }
	06.25%	{ opacity: 1; }
	31.25%	{ opacity: 1; }
	37.50%	{ opacity: 0; }
	100.0%	{ opacity: 0; }
} */

@keyframes fade {
  00.00% {
    opacity: 0;
  }
  49% {
    opacity: 1;
  }
  100.0% {
    opacity: 0;
  }
}


@media (min-width: 1440px) {
  .bannercontainer {
    width: 1370px;
    height: 455px;
  }
}
