.container {
  width:100%;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentscontainer {
  width: 93vw;
  height: 50vh;
  border-radius: var(--defaultradius);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items:center;
}

.contentscontainer> img {
  width: 1.6rem;
  margin: 0 0.4rem 0 0;
}
.contentscontainer>p{
  font-size: 1.1rem;
}