.container {
  background-color: #ffffff;
  border-radius: var(--defaultradius);
  overflow: hidden;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.image {
  width: 100%;
}

.contents {
  text-align: left;
  width: 80%;
  padding: 0.5rem 0.8rem;
  color: var(--fontColor);
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-weight: 600;
}

.price {
  font-size: 0.9rem;
}

.sale {
  color: var(--subFontColor);
  font-size: 0.7rem;
  text-decoration: line-through;
}

.color {
  color: var(--subFontColor);
  font-size: 0.8rem;
}
