.icons {
  width: 333.69px;
  height: 20px;
  position: absolute;
  right: 0;
  bottom: -1px;
  margin: 0;
}

.icons > img {
  width: 20px;
  height: 20px;
}
.defaultclassname {
  display: none;
}

.products {
  position: absolute;
  right: 273.74px;
}

.aboutus {
  position: absolute;
  right: 175.41px;
}

.cart {
  position: absolute;
  right: 99.64px;
}

.itemincart{

}

.itemincart>img{
  width:21px;
  height:21px;
  position: absolute;
  right: 99.64px;
  bottom: 0;
}

.itemincart>p{
  width: 16px;
  height:16px;
  position:absolute;
  right: 88px;
  bottom: 8px;
  background-color:var(--subBrandColor);
  border-radius: 50%;
  text-align: center;
  line-height: 1.1;
  font-size: 0.9rem;
  color: #ffffff;
  font-weight: 600;
}

@media(max-width:450px){
  .icons{
    display:none;
  }
}