.container{
  margin: 1.5rem auto;
  width: 95vw;
  height: 4rem;
  padding:0;

}

.auth {
  width:100vw;
  height: 2rem;
  background-color: var(--subBrandColor);
}

.logo{
  width:100%;
  border-bottom: 2px solid var(--brandColor);
  margin:0;
}

.logoimage {
  width: 6rem;
}

.link {
  text-align:center;
}

.link>img{
  display:none;
}

.activeLink>img {
  display: block;
}


.menu {
  display: flex;
  justify-content: end;
  width:100%;
}

.menu> a > p {
  margin: 0 0.5rem;
  color: var(--fontColor);
}

@media(max-width:350px){
  .container{
    width:100%;
    margin: 1rem 0;
    font-size: 0.9rem;
  }
  .logoimage{
    margin: 0 0.8rem;
  }
}