.submenu {
  position: absolute;
  right: 147px;
  margin: 0.5rem 0;
  display: flex;
  /* animation: dropdown ease-in-out 0.5s forwards; */
}

@keyframes dropdown{
  from{
    top: 20px;
  }
}

.submenu > a {
  margin: 0 0.5rem;
  color: var(--fontColor);
}

.submenu > a:after {
  display: block;
  content: "";
  border-bottom: solid 2px var(--brandColor);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.submenu > a:hover:after {
  transform: scaleX(1);
}

@media (max-width: 768px) {
  .submenu {
    position: static;
    justify-content: center;
  }
}