.listcontainer {
  display: flex;
}

.title {
  font-size: 1rem;
  font-weight: 600;
}

.listcontainer > li {
  width: 25%;
  margin: 0 0 0 2%;
  
}

.listcontainer > li > a {
  color: #ececec;
}

.storeinfo > li {
  margin: 8% 0;
}

.storeinfo > li > a {
  color: #ececec;
}

.contactus > p {
  margin: 8% 0;
}

.contactus > img {
  width: 2rem;
  margin: 0 8%;
  cursor:pointer;
}